/**/.volumes/
/**/node_modules/
/**/*.svg
/**/.dockerignore
/.turbo/
/docs/.docusaurus/
/docs/dist/
/examples/fullstack/contact-forms/.cache/
/examples/fullstack/contact-forms/.next/
/examples/fullstack/contact-forms/src/hasura/migrations/
/packages/api/dist/
/packages/client/dist/
/packages/crypto/dist/
/packages/devtools/.vite/
/packages/devtools/dist/
/packages/generator/dist/
/packages/react/dist/
/packages/server/src/database/migrations/
/pnpm-lock.yaml
